.footer {
  margin: 67px auto 0;
  width: 604px;
}

.footer__author {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
}

@media screen and (min-width: 1173px) {
  .footer {
    width: 926px;
  }
}

@media screen and (max-width: 775px) {
  .footer {
    width: 282px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 0;
    margin-top: 48px;
  }

  .footer__author {
    padding: 0;
    font-size: 14px;
  }
}
