.profile__edit-button:hover {
  opacity: 60%;
  transition: 0.5s ease-in;
}

.profile__add-button:hover {
  transition: 0.5s ease-in;
  opacity: 60%;
}

.card__like-button:hover {
  transition: 0.5s ease-in;
  opacity: 60%;
}
