@media screen and (max-width: 480px) {
  .header{
    width: 100%;
  }
  .header__image{
    padding-left: 27px;
  }
  .profile {
    flex-direction: column;
    width: 100%;
  }
  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 282px;
    height: 50px;
    padding: 30px 0 0 0;
    margin: 0 auto;
  }
  .profile__title {
    padding-right: 10px;
    font-size: 22px;
    line-height: 1.21;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px
  }

  .profile__edit-button{
    max-width: 18px;
    height: 18px;
  }
  .profile__add-button {
    width: 100%;
    width: 282px;
    height: 50px;
    margin: 36px 0 0 0;
  }

  .footer__author{
    padding: 0 0 36px;
    width: 282px;
    height: 14px;
    margin: 48px auto 36px;
  }
  .page__content{
    max-width: 282px;
  }
}

@media screen and (max-width: 900px) {
    .page__content{
        max-width: 600px;
        margin: 0 auto;
    }
}

