.footer {
  margin: 67px auto 0;
  width: 900px;
  padding-bottom: 60px;
}

.footer__author {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
}

@media screen and (min-width: 1173px) {
  .footer {
    width: 900px;
  }
}

@media screen and (max-width: 880px) {
  .footer {
    width: 580px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding-bottom: 36px;
    margin-top: 48px;
  }

  .footer__author {
    padding: 0;
    font-size: 14px;
  }
}
